# Guidelines for ETL Project

This document contains guidelines, requirements, and suggestions for Project 1.

## Project Proposal

Before you start writing any code, remember that you only have one week to complete this project. View this project as a typical assignment from work. Imagine a bunch of data came in and you and your team are tasked with migrating it to a production data base.

Take advantage of your Instructor and TA support during office hours and class project work time. They are a valuable resource and can help you stay on track.

## Finding Data

Your project must use 2 or more sources of data. We recommend the following sites to use as sources of data:

* [data.world](https://data.world/)

* [Kaggle](https://www.kaggle.com/)

You can also use APIs or data scraped from the web. However, get approval from your instructor first. Again, there is only a week to complete this!

## Data Cleanup & Analysis

Once you have identified your datasets, perform ETL on the data. Make sure to plan and document the following:

* The sources of data that you will extract from.

* The type of transformation needed for this data (cleaning, joining, filtering, aggregating, etc).

* The type of final production database to load the data into (relational or non-relational).

* The final tables or collections that will be used in the production database.

You will be required to submit a final technical report with the above information and steps required to reproduce your ETL process.

## Project Report

At the end of the week, your team will submit a Final Report that describes the following:

* **E**xtract: your original data sources and how the data was formatted (CSV, JSON, MySQL, etc).

* **T**ransform: what data cleaning or transformation was required.

* **L**oad: the final database, tables/collections, and why this was chosen.

Please upload the report to Github and submit a link to Bootcampspot.

- - -

### Example of  ETL

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
# Connect to local database
#import pymysql
#pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgres://postgres:postgres@localhost:5432/superhero_db')

/Users/lorl61/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
# Check for tables

In [5]:
engine.table_names()

['characters_power', 'characters_info', 'characters_stats']

In [6]:
conn = engine.connect()

In [7]:
# Use pandas to load csv converted DataFrame into database

In [8]:
characters_stats=pd.read_sql_query('select * from characters_stats', con=engine)
characters_stats.head()

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436

In [9]:
characters_info=pd.read_sql_query('select * from characters_info', con=engine)
characters_info.head()

,ID,Name,Alignment,Gender,EyeColor,Race,HairColor,Publisher,SkinColor,Height,Weight
0,0,A-Bomb,good,Male,yellow,Human,No Hair,Marvel Comics ...,-,203.0,441.0
1,1,Abe Sapien,good,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics ...,blue,191.0,65.0
2,2,Abin Sur,good,Male,blue,Ungaran,No Hair,DC Comics ...,red,185.0,90.0
3,3,Abomination,bad,Male,green,Human / Radiation,No Hair,Marvel Comics ...,-,203.0,441.0
4,4,Abraxas,bad,Male,blue,Cosmic Entity,Black,Marvel Comics ...,-,-99.0,-99.0

In [10]:
combined_data = pd.merge(characters_stats, characters_info, on="Name", how="inner")
combined_data.head()

,Name,Alignment_x,Intelligence,Strength,Speed,Durability,Power,Combat,Total,ID,Alignment_y,Gender,EyeColor,Race,HairColor,Publisher,SkinColor,Height,Weight
0,A-Bomb,good,38,100,17,80,17,64,316,0,good,Male,yellow,Human,No Hair,Marvel Comics ...,-,203.0,441.0
1,Abe Sapien,good,88,14,35,42,35,85,299,1,good,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics ...,blue,191.0,65.0
2,Abin Sur,good,50,90,53,64,84,65,406,2,good,Male,blue,Ungaran,No Hair,DC Comics ...,red,185.0,90.0
3,Abomination,bad,63,80,53,90,55,95,436,3,bad,Male,green,Human / Radiation,No Hair,Marvel Comics ...,-,203.0,441.0
4,Abraxas,bad,88,100,83,99,100,56,526,4,bad,Male,blue,Cosmic Entity,Black,Marvel Comics ...,-,-99.0,-99.0

In [11]:
#Who are the strongest
strongest=combined_data.loc[:, ["Name", "Alignment_x", "Total","Publisher"]].sort_values(by="Total",ascending=False)
strongest=pd.DataFrame(strongest,columns = ["Name", "Alignment_x", "Total","Publisher"])
renamed_strongest = strongest.rename(columns={"Alignment_x":"Alignment"})
hero=renamed_strongest[renamed_strongest['Alignment']=='good']

hero.head(10)

,Name,Alignment,Total,Publisher
353,Martian Manhunter,good,581,DC Comics ...
527,Superman,good,579,DC Comics ...
517,Stardust,good,568,Marvel Comics ...
536,Thor,good,546,Marvel Comics ...
526,Supergirl,good,544,DC Comics ...
409,Nova,good,538,Marvel Comics ...
408,Nova,good,538,Marvel Comics ...
246,Goku,good,521,Shueisha ...
425,Phoenix,good,517,Marvel Comics ...
298,Jean Grey,good,517,Marvel Comics ...

In [12]:
villan=renamed_strongest[renamed_strongest['Alignment']=='bad']

villan.head(10)

,Name,Alignment,Total,Publisher
525,Superboy-Prime,bad,579,DC Comics ...
237,General Zod,bad,579,DC Comics ...
14,Amazo,bad,575,DC Comics ...
198,Dormammu,bad,546,Marvel Comics ...
196,Doomsday,bad,545,DC Comics ...
166,Cyborg Superman,bad,540,DC Comics ...
214,Faora,bad,535,DC Comics ...
348,Magus,bad,531,Marvel Comics ...
4,Abraxas,bad,526,Marvel Comics ...
83,Black Adam,bad,525,DC Comics ...

In [18]:
stats_df = combined_data.loc[:, ["Intelligence","Strength","Speed","Durability","Power","Combat","Total"]].sort_values(by="Total",ascending=False)
stats_df.head(20)

     Intelligence  Strength  Speed  Durability  Power  Combat  Total
353           100       100     96         100    100      85    581
525            94       100    100         100    100      85    579
527           100       100    100         100     94      85    579
237            94       100     96         100     94      95    579
14             75       100    100         100    100     100    575
517            88        85    100         110    100      85    568
233           100       100     83         100    100      70    553
81             75        95    100         100     95      85    550
198            88        95     83         100    100      80    546
536            69       100     92         100    100      85    546
196            88        80     67         120    100      90    545
526            94        98     92         100     85      75    544
166            75        93     92         100    100      80    540
409           100        85     67         101    100      85    538
408           100        85     67         101    100      85    538
214            88        95     75         100     87      90    535
348            88       100     70          99    100      74    531
4              88       100     83          99    100      56    526
83             88       100     92         100     89      56    525
246            56       100     75          90    100     100    521

In [14]:
stats_percentage = stats_df.loc[:, ["Intelligence","Strength","Speed","Durability","Power","Combat", "Total"]].div(stats_df["Total"] / 100, axis=0)
stats_percentage.head()

,Intelligence,Strength,Speed,Durability,Power,Combat,Total
353,17.211704,17.211704,16.523236,17.211704,17.211704,14.629948,100.0
525,16.234888,17.271157,17.271157,17.271157,17.271157,14.680484,100.0
527,17.271157,17.271157,17.271157,17.271157,16.234888,14.680484,100.0
237,16.234888,17.271157,16.580311,17.271157,16.234888,16.407599,100.0
14,13.043478,17.391304,17.391304,17.391304,17.391304,17.391304,100.0

In [15]:
characters_power=pd.read_sql_query('select * from characters_power', con=engine)
characters_power.head()

,Name,Agility,AcceleratedHealing,LanternPowerRing,DimensionalAwareness,ColdResistance,Durability,Stealth,EnergyAbsorption,Flight,...,WebCreation,RealityWarping,OdinForce,SymbioteCostume,SpeedForce,PhoenixForce,MolecularDissipation,VisionCryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
 superheroes_power_matrix_df = characters_power.drop(columns=["Name"])

In [17]:
transpose_df = superheroes_power_matrix_df.apply(pd.Series.value_counts).T.reset_index()
transpose_df = transpose_df.rename(columns={'index': 'Name'})
top_transpose_df=transpose_df.loc[:, ["Name", True] ].sort_values(by=True,ascending=False)
renamed_top_transpose_df = top_transpose_df.rename(columns={"Name":"Skills","True":"Points"})
renamed_top_transpose_df.head()

           Skills  True
17  SuperStrength   360
25        Stamina   289
5      Durability   257
30     SuperSpeed   249
0         Agility   242